<div class="form row">
  <div class="form-container wd-90 row">
    <div class="form-content wd-100 column">
      <h3>Ingresar Estudiante</h3>
      <form class="column wd-100" [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="row-inputs row">
          <div class="form-field column">
            <input id="name" type="text" class="form-input wd-100" formControlName="name" placeholder="Ingrese nombre" />
            <p class="field-error" *ngIf="studentForm.get('name')?.invalid && studentForm.get('name')?.touched">Nombre es requerido.</p>
          </div>

          <div class="form-field column">
            <input id="phone" type="text" class="form-input wd-100" formControlName="phone" placeholder="123-456-7890" />
            <p class="field-error" *ngIf="studentForm.get('phone')?.invalid && studentForm.get('phone')?.touched">Teléfono es requerido y debe coincidir con el formato 123-456-7890.</p>
          </div>

          <div class="form-field column">
            <input id="email" type="email" class="form-input wd-100" formControlName="email" placeholder="Ingrese correo" />
            <p class="field-error" *ngIf="studentForm.get('email')?.invalid && studentForm.get('email')?.touched">Ingrese un correo válido.</p>
          </div>

          <div class="form-field column">
            <input id="referCode" type="text" class="form-input wd-100" formControlName="referCode" placeholder="Ingrese código de referencia" />
            <p class="field-error" *ngIf="studentForm.get('referCode')?.invalid && studentForm.get('referCode')?.touched">Código de referencia es requerido.</p>
          </div>
        </div>

        <div formArrayName="contacts" class="contacts">
          <label>Contactos</label>
          <div class="form-row row" *ngFor="let contact of contacts.controls; let i = index">
            <div class="input-group">
              <input [formControlName]="i" class="form-input" placeholder="Ingrese contacto" />
              <i class="pi pi-trash delete-supply" (click)="removeContact(i)"></i>
            </div>
          </div>
          <i class="pi pi-plus-circle add-supply btn btn-secondary" (click)="addContact('')"></i>
        </div>
    
        <div class="form-submit row">
          <button type="submit" class="btn btn-secondary row" [disabled]="studentForm.invalid">Agregar</button>

          <button class="btn btn-primary row" (click)="closeForm()">Volver</button>
        </div>
      </form>
    </div>
  </div>
</div>
