<form class="login-form column" [formGroup]="registerForm()">
  <div class="form-field wd-100 column">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>

      <input
        type="text"
        pInputText
        placeholder="Ingrese el nombre"
        class="login-input wd-100"
        formControlName="firstName"
      />
    </p-inputGroup>
  </div>

  <div class="form-field wd-100 column">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>

      <input
        type="text"
        pInputText
        placeholder="Ingrese el apellido"
        class="login-input wd-100"
        formControlName="lastName"
      />
    </p-inputGroup>
  </div>

  <div class="form-field wd-100 column">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-user"></i>
      </p-inputGroupAddon>

      <input
        type="text"
        pInputText
        placeholder="Ingrese el correo"
        class="login-input wd-100"
        formControlName="email"
      />
    </p-inputGroup>
  </div>


  <div class="form-field wd-100 column">
    <p-inputGroup>
      <p-inputGroupAddon>
        <i class="pi pi-key"></i>
      </p-inputGroupAddon>

      <input
        [type]="inputType"
        pInputText
        placeholder="Ingrese la contraseña"
        class="login-input wd-100"
        formControlName="password"
      />

      <p-inputGroupAddon (click)="toggleIcon()">
        <i class="password-icon row" [ngClass]=" isIconChange ? 'pi pi-eye-slash' : 'pi pi-eye' "></i>
      </p-inputGroupAddon>
    </p-inputGroup>
  </div>
</form>

<div class="login-submit row">
  <button class="btn btn-primary row" (click)="onSubmit()">Registrarse</button>
</div>
