@import "../../../assets/themes/variables.scss";

.menubar {
  height: 7rem;
  justify-content: flex-end;

  .list {
    height: 100%;

    &-item {
      height: 100%;
      padding: 2rem;

      &:last-child {
        padding-right: 3rem;
      }
    }
  }
}
