// Media Queries Sizes

$smartphone: 390px;
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;
$widerscreen: 1200px;

// Colors - Principal

$primary: #2b2724;
$dark-primary: #211d1c;
$secondary: #e98f2b;
$dark-secondary: #d65108;
$terciary: #958b94;
$dark-terciary: #5a535c;
$white: #fff;
$black: #333;
$gray: #a2a19d;
$ligth-gray: #d4d4d4;

// Sistem

$success: #1B5E20;
$accent: #aacc00;
$danger: #EB445A;
$dark-danger: #ba181b;
$warning: #ffca22;

// Spacing

$separacion: 5rem;
